#Se for usar outro banco, configurar (no caso, o padrão seria o postgres
#PostgreSQL
DB_TYPE=
DB_HOST=
DB_PORT=
DB_BANCO=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=org.postgresql.Driver
DB_URL=jdbc:postgresql://localhost:5432/desafio
DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=${DB_DRIVER}
spring.jpa.properties.hibernate.dialect=${DB_DIALECT}

spring.flyway.sql-server.application-lock=false
